<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<%= link_to "New post", new_post_path %>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <p class='post-image'><%= image_tag(post.image) %></p>
      <p class='post-message'><%= post.message %></p>
      <p class='post-time'><%= post.created_at.strftime("%-d %b %Y" + ' at ' + "%H:%M") %></p>
      <%= link_to "Edit Post", post %>
    </p>
  <% end %>
</div>


