<h1>New post</h1>

<%= render "form", post: @post %>

<br>

<div class='enter-post'>    
  <%= form_for @post do |form| %>
    <%= form.label :message %>
    <%= form.text_field :message, placeholder: "What's on your mind?" %>
    <%= form.submit "Submit" %>
  <% end %>
</div>

<div>
  <%= link_to "Back to posts", posts_path %>
</div>
