<h1>New post</h1>

<br>

<div class='enter-post'>    
  <%= bootstrap_form_for(@post) do |form| %>
    <%= form.file_field :image  %>
    <%= form.text_field :message, placeholder: "Caption it!" %>
    <%= form.submit "Submit" %>
  <% end %>
</div>

<div>
  <%= link_to "Back to posts", posts_path %>
</div>
